.header-title h1 {
    font-weight: bold;
    font-size: 40px;
}
.header-title p {
    font-size: 1em;
}
.header-title {
    padding: 0px;
}
.csseditor {
    border-radius: 25px;
     display:block;
     padding:10px;
     width: 420px;
     background-color: rgb(199, 199, 255);
     margin: 10px 0px 20px 0px;
     word-break: break-word;
}
.test-div {
    transition: 2s;
}
#css-editor-textarea {
    font-size: 18px;
}